.floatingButton {
  position: fixed;
  z-index: 9999;
  bottom: var(--overlay-padding-normal);
  right: var(--overlay-padding-normal);
  box-shadow: var(--shadow-floating-medium);
  opacity: 0;
  transform: translateY(1rem);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
