.grid {
  display: grid;

  grid-template-columns: 1fr;
  gap: var(--stack-gap-normal);

  @media screen and (min-width: 1012px) {
    grid-template-columns: 1fr 1fr;
  }
}

.leadingIcon {
  margin-right: var(--controlStack-small-gap-auto);
}
