.leadingIcon {
  margin-inline-end: var(--controlStack-medium-gap-auto);
  flex-shrink: 0;
  vertical-align: baseline;
}

.trailingIcon {
  margin-inline-start: var(--controlStack-medium-gap-auto);
  flex-shrink: 0;
  vertical-align: middle;
}

.inlineFlex {
  display: inline-flex;
}

.alignCenter {
  align-items: center;
}

.textMuted {
  color: var(--fgColor-muted);
}

.textSevere {
  color: var(--fgColor-severe);
}

.textAttention {
  color: var(--fgColor-attention);
}
