.card {
  border: 1px solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
  overflow: hidden;
}

.header {
  border-block-end: var(--borderWidth-default) solid var(--borderColor-default);
  padding: var(--stack-padding-normal);
}

.body {
  padding: var(--stack-padding-normal);
  width: 100%;

  > * {
    margin-block: 0;
  }
}
