.card {
  overflow: hidden;
  border: 1px solid var(--borderColor-default);
  border-radius: var(--borderRadius-default);
}

.header {
  padding: var(--base-size-16);
  border-block-end: var(--borderWidth-default) solid var(--borderColor-default);
}

.body {
  width: 100%;
  padding: var(--base-size-16);

  > * {
    margin-block: 0;
  }
}
