.tile {
  padding: var(--stack-padding-normal);
  background: var(--bgColor-inset);
  border-radius: var(--borderRadius-default);
}

.heading {
  font: var(--text-body-shorthand-small);
  color: var(--fgColor-neutral);
  
}

.body {
 
  color: var(--fgColor-default);
  font: var(--text-title-shorthand-large);
}

.caption {
  font: var(--text-title-shorthand-small);
  color: var(--fgColor-neutral);
}
